html { height: 100%; }
body{ font-family: roboto, sans-serif; background-color: #fff; color: #323232; min-height: 100%; position: relative; }
div{ display: block; }
a{ text-decoration: none;color: #323232; }
a:hover{ font-weight: bold; }

canvas { background: #eee; display: block; margin: 0 auto; }

#banner_wrap { 
    position:relative;
    display: inline-block;
    width: 100%;
    height: 760px;
    background-image:url("../img/large_img/autumn.jpg");
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

#inner_element {
    position:absolute; 
    left:0%; 
    top:25%; 
    width:100%; 
    vertical-align: middle;
    font-size: 175%;
    text-align: center;
    color:#191919;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    list-style:none;
    text-align:center;
    z-index: 1;
}

nav li{
    display:inline;
}

nav a{
    padding: 10px;
    font-size: 18px;
    background: #fff;
}

#midnight{
    background: #191919;
    color: #e5e5e5;
}

/*Intro*/
#introduction{
    width: 85%;
    display: block;
    margin: 0 auto; 
}

#pic, #salary_calc{
    display: inline-block;
    position: relative;
    width: 40%;
    height: 400px;
}

#profile, #salary_pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    border-radius: 15px;
}

aside{
    display: inline-block;
    position: absolute;
    width: 50%;
    margin-top: 5%;
}

h2, h3, p{
    text-align: center;
}

/*Resume*/
#resume{
    background-color: #e5e5e5;
    border:10px solid #e5e5e5;
}

.resume_section{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#info{
    text-align: center;
}

.school{
    text-align: left;
}

/*Photography*/
#photography, #Intro, #single_img, #breadboard_img{
    display: block;
    margin: 0 auto;
    width: 85%;
    text-align: center;
}
#Intro{
    width: 50%;
}

#single_img{
    width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#side-by-side, #three_img, four_img{
    display: inline-block;
    width: 45%;
    padding: 1%;
}

#three_img{
    width: 30%;
}

#four_img{
    width: 21.3%;
    padding: 1%;
}

/*Past projects*/
#past_projects{
    background-color: #7f7f7f;
}

.project{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#swd_intro, #swd_img{
    display: inline-block;
    position: relative;
}

#swd_intro{
    width: 50%;
    float: left;
    margin-top: 65px;
    padding-right: 25px;
}

#swd_img{
    width: 40%;
}

#swd_img h4{
    text-align: center;
}

.app_img{
    width: 24%;
}

#embedded, #site{
    border-top: 50px solid #7f7f7f;
}

#breadboard_img {
    width: 55%;
}

footer{
    border-top: 1px solid #666;
    position: absolute;
    height: 0px;
    bottom: 0px;
    width:100%;
}

footer img{
    margin-top: -10px;
    height: 25px;
    width: 25px;
}

#social{
    display: block;
    float: left;
}

#copyright{
    border-top: 45px solid white;
    float: right;
}

#resume, #photography, #past_projects, #contact_me{
    padding-top: 50px;
}

@media only screen and (max-width:940px), only screen and (max-device-width: 940px){
    #banner_wrap { 
        height: 400px;
    }
    
    #inner_element{
        font-size:100%; 
    }
    
    nav a{
        display: inline-block;
        width: 20%;
        height: 20px;
        font-size: 14px;
        margin-bottom: 1px;
    }
    
    #profile, #salary_pic{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    #salary_pic{
        width: 85%;
        margin-top: 75px;
    }
    
    #single_img img, #side-by-side, #three_img, #four_img{
        display: block;
        margin: 0 auto;
        width: 95%;
        height: auto;
        box-shadow: rgba(0,0,0,0) 0px 2px 3px;
        border-radius: 15px;
    }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 560px){
    #banner_wrap {
        height: 500px;
    }
    
    #inner_element{
        font-size:100%; 
    }
    
    nav a{
        display: inline-block;
        width: auto;
        height: 35px;
        font-size: 2rem;
        margin-bottom: 1px;
    }
    
    #pic, #salary_calc, #swd_intro, #swd_img, aside{
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        align-content: center;
    }
    
    #profile, #salary_pic{
        width: 90%;
    }
    
    #single_img, #side-by-side, #three_img, #four_img, #breadboard_img{
        display: block;
        margin: 0 auto;
        width: 80%;
        height: auto;
        box-shadow: rgba(0,0,0,0) 0px 2px 3px;
        border-radius: 15px;
    }
    
    #swd_intro{
        padding: 0px;
        float: none;
    }
    
    .app_img{
        width: 49%;
    }
}

